/*
 *
 * Robert Newth
 *
 * -------------------
 * Links
 * -------------------
 *
 */

a {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: darken($color-primary, 5%);
    }
}
