<footer class="site-footer">

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>&copy; Robert Newth 2016</p>
			</div>
    		<div class="col-sm-6 social">
    			<a target="_blank" class="github" href="https://github.com/rnewth1">GitHub</a>
				<a target="_blank" class="twitter" href="https://twitter.com/rnewth1">Twitter</a>
				<a target="_blank" class="linkedin" href="https://www.linkedin.com/in/robert-newth-336a8342">LinkedIn</a>
			</div>
    	</div>
  	</div>

</footer>
